<div class="loginMain">
  <div style="width: 50%;">
    <div class="logo">
      <img style="width: 70%;" src="../../../assets/images/report-white.png" alt="">
    </div>

    <div class="user-heading">
      <span>ADMIN</span>
    </div>

    <div class="user-body">
      <form style="width: 50%;">
        <div class="d-block">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
              placeholder="Password">
          </div>
        </div>

        <div class="user-footer">
          <div style="display: flex;justify-content: space-between;">
            <span>Forget Password?</span>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Remember Me
                </label>
              </div>
            </div>

          </div>

          <div style="display: flex;justify-content: center;margin-top: 40px;">
            <button type="submit" class="btn submit-btn">Login</button>
          </div>

        </div>

      </form>
    </div>
  </div>

</div>
